extends layout
block content

	.viewer(data-bind="visible: isVis")


		input.form-control(type="text", data-bind="event: {keydown: keyDown}, textInput: titre", placeholder="titre")
		div(data-bind="foreach: attr")
			.input-group
				span.input-group-addon(data-bind="text: name")
				textarea.form-control(data-bind="event: {keydown: $parent.keyDown}, textInput: val")
				span.input-group-addon.glyphicon.glyphicon-remove(data-bind="click: $root.modRm")
		.input-group
			span.input-group-addon new attribute
			input.form-control(type="text", data-bind="event: {keydown: keyDown}, textInput: newAttr")
