!!! 5
//if lt IE 7 ]><html class="ie ie6" lang="en">
//if IE 7 ]><html class="ie ie7" lang="en">
//if IE 8 ]><html class="ie ie8" lang="en">
// [if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]

head
 
  meta(charset='utf-8')
  title fraph
  meta(name='description', content='')
  meta(name='author', content='')

   // Mobile Specific
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    // CSSS
  link(rel='stylesheet', href='app.min.css', type='text/css')
  script(src="/socket.io/socket.io.js")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
  
body(style="background: black;")
  block content

script(src="http://code.jquery.com/jquery-2.0.1.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
script(src="app.min.js")
